@model IEnumerable<ProjectSwapp.Models.SwappAdrCityPost>
<select id="city" name="City" class="form_controlinput">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.City</option>
    }
</select>

