@model IEnumerable<ProjectSwapp.Models.ApplicationAddressCityPost>
<select id="city" name="City" class="form-control">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.City</option>
    }
</select>
