<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/18015b0f-945f-4ae9-8989-9304c9fbcc91/resourceGroups/SwappResource/providers/Microsoft.Web/sites/SwappProject</ResourceId>
    <ResourceGroup>SwappResource</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://swappproject.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>swappproject.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SwappProject</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SwappProject</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:swappprojectdbserver.database.windows.net,1433;AttachDbFilename=E:\Repositories\Swapp.git\ProjectSwapp\ProjectSwapp\App_Data\aspnet-ProjectSwapp-20170711091941.mdf;User ID=anwbr@swappprojectdbserver;Password=3904And`" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProjectSwapp.Models.ApplicationDbContext, ProjectSwapp" MigrationConfiguration="ProjectSwapp.Migrations.Configuration, ProjectSwapp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:swappprojectdbserver.database.windows.net,1433;AttachDbFilename=E:\Repositories\Swapp.git\ProjectSwapp\ProjectSwapp\App_Data\aspnet-ProjectSwapp-20170711091941.mdf;User ID=anwbr@swappprojectdbserver;Password=3904And`</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>